body {
    margin: 0;
}

header {
    width: 100%;
    overflow: hidden;
}

.header-image {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20vw;
    object-fit: cover;
    display: block;
}

.footer {
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */
.navbar {
    padding: 0px;
    background-color: #3d2218;
}

.navbar-brand {
    padding-left: 2vw;
    font-family: "Pinyon Script", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fbdde3 !important;
}

.navbar-brand:active,
.navbar-brand:visited {
  color: #fbdde3 !important;  
}

.navbar-brand:hover {
  color: #ffffff !important;
}

.navbar-nav .nav-item {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav .nav-link {
    color: #fbdde3;
    font-family: "Lexend", "Arial", sans-serif;
    font-weight: 250;
    font-style: normal;
}

.navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

.nav-item {
    font-size: 1.5vw;
}

/* HOME PAGE */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-image {
    display: block;
}

.introduction-bio h1 {
    font-family: "Pinyon Script", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
    line-height: 1;
}

.introduction-bio #job-title {
    font-family: "Lexend", "Arial", sans-serif;
    font-weight: 250;
    font-style: normal
}

.introduction-bio #bio {
    font-family: "Lexend", "Arial", sans-serif;
    font-weight: 250;
    font-style: normal;
    padding-top: 20px;
}

/* ABOUT ME PAGE */
.aboutme-heading {
    font-family: "Pinyon Script", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.aboutme-image {
    margin-bottom: 20px;
}

#aboutme-bio {
    font-family: "Lexend", "Arial", sans-serif;
    font-weight: 250;
    font-style: normal;
    padding-top: 20px;
}

.interests-heading {
    font-family: "Pinyon Script", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    text-align: center;
    margin-bottom: 0px;
}

.interests-container {
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 25px;
}

.interests-text {
    font-family: "Lexend", "Arial", sans-serif;
    font-weight: 250;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}

.connect-heading {
    font-family: "Pinyon Script", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    text-align: center;
    margin-bottom: 0px;
}

.socials-container {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* RESUME PAGE */
.resume-heading {
    font-family: "Pinyon Script", "Brush Script MT", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10vw;
    padding: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.pdf-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pdf-wrapper iframe {
    width: 75%;
    height: 100vh;
    border: none;
}

/* SCREEN SIZE SPECIFIC CSS SPECIFICATIONS */
@media screen and (max-width: 640px) {
    /* small screens */
    .navbar-brand {
        font-size: 4vw;
    }

    .navbar-nav .nav-link {
        font-size: 2.5vw;
    }

    .profile-image {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .introduction-bio {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .introduction-bio h1 {
        font-size: 12vw;
    }

    .introduction-bio #job-title {
        font-size: 4vw;
        margin-bottom: 8px;
    }

    .introduction-bio #bio {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 3vw;
    }

    .aboutme-text #aboutme-bio {
        font-size: 3vw;
    }

    .interests-container {
        margin-bottom: 0;
    }

    .interests-heading {
        font-size: 7vw;
    }

    .interests-text {
        font-size: 4vw;
    }

    .connect-heading {
        font-size: 7vw;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    /* medium screens */
    .navbar-brand {
        font-size: 3vw;
    }

    .navbar-nav .nav-link {
        font-size: 1.3vw;
    }

    .profile-image {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .introduction-bio {
        margin-top: 25px;
        margin-bottom: 0;
    }

    .introduction-bio h1 {
        font-size: 8vw;
    }

    .introduction-bio #job-title {
        font-size: 3vw;
    }

    .interests-heading {
        font-size: 6vw;
    }

    .interests-text {
        font-size: 2vw;
    }

    .connect-heading {
        font-size: 6vw;
    }
}

@media screen and (min-width: 1024px) {
    /* large screens */
    .navbar-brand {
        font-size: 3vw;
    }

    .navbar-nav .nav-link {
        font-size: 1.3vw;
    }

    .profile-image {
        margin-top: 75px;
        margin-bottom: 50px;
    }

    .introduction-bio {
        margin-top: 75px;
        margin-bottom: 0;
    }

    .introduction-bio h1 {
        font-size: 6vw;
    }

    .introduction-bio #job-title {
        font-size: 2vw;
    }

    .interests-heading {
        margin-top: 5px;
        font-size: 5vw;
    }

    .interests-text {
        font-size: 1.5vw;
    }

    .connect-heading {
        margin-top: 5px;
        font-size: 5vw;
    }
}